<section id="<%= data.id %>" class="book">
  <h3><%= data.title %></h2>
  <h3>by <%= data.author %></h3>
  <img id="image" src="<%= data.image_url %>" alt="cover">
  <p><%= data.book_desc %></p>
  <p>isbn: <%= data.isbn %></p>
</section>